.button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 12px 2px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
  border: 1px solid hsla(0, 0%, 75%, 0.75);
  box-shadow: 1px 1px 0px hsla(0, 0%, 0%, 0.75);
  border-radius: 2px;
}
.button:active {
  background-color: hsl(0, 0%, 93%);
  box-shadow: 0px 0px 0px hsla(0, 0%, 0%, 0.75);
  transform: translate(1px, 1px);
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}

.button:focus-visible {
  background-color: hsl(195, 100%, 93%);
  border: 1px solid hsla(195, 100%, 60%, 0.75);
  text-decoration: none;
  outline-offset: 0px;
  outline: -webkit-focus-ring-color none 0px;
}

@media (prefers-color-scheme: dark) {
  .button {
    background-color: hsl(0, 0%, 10%);
    box-shadow: 1px 1px 0px hsla(0, 0%, 100%, 0.75);
  }
  .button:active {
    background-color: hsl(0, 0%, 17%);
  }
  .button:focus-visible {
    background-color: hsl(195, 100%, 17%);
    border: 1px solid hsla(195, 100%, 60%, 0.75);
    text-decoration: none;
    outline-offset: 0px;
    outline: -webkit-focus-ring-color none 0px;
  }
}
