.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  width: 100%;
  margin-bottom: var(--margin);
}

.logo {
  display: flex;
  grid-column: 1;
  align-self: flex-end;
  width: 56px;
  height: 56px;
}

.circle,
.mark,
.color,
.background {
  transition: var(--transition);
}
.circle {
  fill: var(--color-background);
  stroke: var(--color-foreground);
}
.mark {
  fill: var(--color-background);
}
.background {
  fill: var(--color-background);
  stroke: var(--color-foreground);
  height: 550px;
}
.logo:hover .circle,
.logo:focus-within .circle,
.logo:hover .mark,
.logo:focus-within .mark,
.logo:hover .color,
.logo:focus-within .color {
  transform: translate(var(--translate), var(--translate));
}
.logo:hover .background,
.logo:focus-within .background {
  height: 462px;
}
.logo:focus-within {
  outline-offset: 0px;
  outline: -webkit-focus-ring-color none 0px;
}
.line {
  grid-column: 2;
  border-bottom: 2px solid var(--color-grey);
}

.menu {
  grid-column: 3;
  justify-content: start;
  align-self: flex-end;
}
.menu > ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0px 0px 0px 4px;
}
