.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0.5rem;
}
.container > * {
  border: 2px solid hsla(0, 0%, 75%, 0.75);
  padding: 1rem;
  border-radius: 4px;
  margin: 0 0.5rem;
}
.container img,
.container svg {
  width: 100%;
  height: auto;
}

.video_wrapper {
  position: relative;
  padding-bottom: 41.7%;
}
.video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.face_filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.face_filter a {
  align-self: center;
}

.bliss_point {
  display: flex;
  justify-self: center;
  align-self: center;
  fill: hsl(0, 0%, 0%);
}

@media (prefers-color-scheme: dark) {
  .bliss_point {
    fill: hsl(0, 0%, 100%);
  }
}
